<div class="center jumbotron">
    <h1>BETA BLOG</h1>
    <%= link_to "Learn more", "#",  class: "btn btn-primary btn-lg" %><br/>
    <p>
    <h3>about techology ... life ... and universe</h3></p>
</div>